:root {
    --bs-gradient:linear-gradient(to right, 
    #4558b6 ,#281764);
     
  }

*{
    box-sizing: border-box;    
}
.jumbotron{
    background-image: var(--bs-gradient);
    color: white;
    font-weight: bold;
}

body {    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;      
}
.list-group-item{
    cursor: pointer;
}
.btn{
    width: 100%;
    margin: 5px 0;
}
span{
    margin-left: 5px;
}
.image-size{
    height: 1.8em;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
@media (min-width: 576px){
.col-sm-2 {
    flex: 0 0 auto;
    width: 18%;
}
}